<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MustangConnect Homepage</title>

	<link href='https://fonts.googleapis.com/css?family=PT Serif Caption'
	rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Oleo Script Swash Caps'
	rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=PT Sans Narrow'
	rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Open Sans'
	rel='stylesheet'>
	<link rel="icon" href="https://i.ibb.co/sqx588n/mclogo.png">

	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>

	<style>
	html {
		overflow: hidden;
	}

	body {
		background-color: white;
		margin: -9999rem -9999rem -9999rem;
		padding: 9999rem 9999rem 9999rem;
		overflow: hidden;
	}
	</style>
</head>
<body>
	<ul class="top_menu">
		<li style="float:left; padding: 0.5% 2% 0.5% 0"> 
			<a href="/home"> <img src="https://i.ibb.co/sqx588n/mclogo.png"> </a> 
		</li>
		<% if (target.user == "club") { %>
			<li style="float:left; padding: 1% 2%"> <a href="/post/upload"> Post </a> </li>
		<% } %>
		<% if (target.user == "admin") { %>
			<li style="float:left; padding: 1% 2%"> <a href="/viewDatabase"> Database </a></li>
		<% } %>
		<li style="float:right; padding: 1% 2%"> <a href="/logout"> Log Out </a> </li>
		<li style="float:right; padding: 1% 2%"> <a href="/chat-choose"> Chat </a> </li>
		<% if (target.user != "club") { %>
			<li style="float:right; padding: 1% 2%"> <a href="/clubs"> Clubs </a> </li>
			<li style="float:right; padding: 1% 2%"> <a href="/profile"> Profile </a> </li>
			<% if (target.request_list.length > 0) { %>
				<li style="float:right; padding: 1% 2%"> 
					<a href="/friend/requests" style="color: #529be4"> Pending Requests </a> </li>
			<% } else { %>
				<li style="float:right; padding: 1% 2%"> <a href="/friend/requests"> Pending Requests </a> </li>
			<% } %>
			<li style="float:right; padding: 1% 2%"> <a href="/findPeople"> Meet People! </a> </li>
		<% } else { %>
			<li style="float:right; padding: 1% 2%"> <a href="/clubs/<%=target.name%>"> Profile </a> </li>
		<% } %>
	</ul>

<% if (target.user != "club") { %>
	<div class="home_sf">
		<p style="text-align: center; font-size: 200%; font-family: Oleo Script Swash Caps;
		margin-top: 0; margin-bottom: 5%;"> Suggested Users</p>
		<ul class="home_sf_contents">
		<% if (q.length > 0) { %>
			<% q.forEach((item, i) =>{ %>
				<%if (i < 5) { %>
					<li style="border-top: 2px inset #e3e3e3; margin-top: -0.5vh"> 
					<a href="/profile/<%=item.email%>">
					<% if(item.ppic){ %>
						<img src="/image/<%= item.ppic %>" class="minimized_profile_pic">
					<% } else { %>
						<img src="https://i.ibb.co/y676MDy/no-ppic.png" class="minimized_profile_pic" >
					<% } %>
					<span style="position: relative; top: -5vh"><%=item.name%></span>
					</a>
					</li>
				<% } %>
			<%});%>
		<% } else { %>
			<li style="border-top: 2px inset #e3e3e3">
			<a href="/findPeople"> 
			<span style="position: relative; top: -1%; font-size: 80%">
			You have no suggested friends at the moment :( Click on me or below to find some new friends.
			</span>
			</a> 
			</li>
		<% } %> 
		</ul>	
	
		<a class="home_more_link" style="left: 12%; bottom: 10%"
	 	href="findPeople"> View More Suggested Users </a>
	</div>
<% } %>

<div class="club_feed">
	<% if(files){ %>
		<% files.forEach(function(file) { %>
			<div class="feed_post">
				<div class="feed_pic_cont">
					<img src="/image/<%= file.fname %>" class="feed_pic">
				</div>
				<div class="feed_text">
					<span> <%=file.des%> </span>
				</div>
				<div class="feed_tag">
					<a href="/profile" style="text-decoration: none;">
						<img src="https://i.ibb.co/y676MDy/no-ppic.png" class="club_profile_pic">
						<span style="color: black; position: relative; top: -3vh"> <%=file.cname%> </span>
					</a>
					<!--<form method="POST" action="/files/<%= file.fname %>?_method=DELETE">
						<button class="btn btn-danger btn-block mt-4">Delete</button>
					</form> -->
				</div>
			</div>
			<br><br>
		<% }) %>
	<% } else { %>
		<p>No posts available. You must follow a club to see their posts. </p>
	<% } %>
	<br><br>
</div>

<div class="home_fl">
	<% if (target.user != "club") { %>
		<p style="text-align: center; font-size: 200%; font-family: Oleo Script Swash Caps;
		margin-top: 0; margin-bottom: 5%;"> Friends List</p>
	<% } else { %>
		<p style="text-align: center; font-size: 200%; font-family: Oleo Script Swash Caps;
		margin-top: 0; margin-bottom: 5%;"> Members</p>
	<% } %>
	<ul class="home_fl_contents">
		<% if (target.user != "club") { %>
			<% if (friends.length > 0) { %>
				<% friends.forEach((item, i)=>{%> 
					<%if (i < 5) { %>
						<li style="border-top: 2px inset #e3e3e3"> 
						<a href="/profile/<%=item.email%>">
						<% if (item.ppic) { %>
							<img src="/image/<%=item.ppic%>" class="minimized_profile_pic">
						<% } else { %>
							<img src="https://i.ibb.co/y676MDy/no-ppic.png" class="minimized_profile_pic">
						<% } %>
						<span style="position: relative; top: -5vh"> <%=item.name%></span>
						</a>
						</li>
					<% } %>
				<%});%>
			<% } else { %>
				<li style="border-top: 2px inset #e3e3e3">
				<a href="/findPeople"> 
				<span style="position: relative; top: -1%; font-size: 80%">
				You have no friends at the moment :( <br> Click on me or below to find some new friends.
				</span>
				</a> 
				</li>
			<% } %>
		<% } else { %>
			<% if (target.members.length > 0) { %>
				<% target.members.forEach((item, i)=>{%> 
					<%if (i < 5) { %>
						<li style="border-top: 2px inset #e3e3e3"> 
						<a href="/profile/<%=target.members[i].email%>">
						<img src="https://i.ibb.co/y676MDy/no-ppic.png" class="minimized_profile_pic"
						style="width: 5.5vw; height: 5.5vw">
						<span style="position: relative; top: -5vh"><%=item%></span>
						</a>
						</li>
					<% } %>
				<%});%>
			<% } else { %>
				<li style="border-top: 2px inset #e3e3e3">
					<a href="/findPeople"> 
					<span style="position: relative; top: -1%; font-size: 80%">
					You have no members right now :( <br> Make sure your interests are attractive to students.
					</span>
					</a> 
				</li>
			<% } %>
		<% } %>
	</ul>	
		
	<% if (target.user != "club") { %>
		<a class="home_more_link" style="left: 20%; bottom: 10%" href="/profile">
		View Entire Friends List
		</a>
	<% } else { %>
		<a class="home_more_link" style="left: 20%; bottom: 10%" href="/clubs/<%=target.name%>">
		View All Club Members
		</a>
	<% } %>
</div>
</body>
</html>