  
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title> <%=target.name%>'s Profile </title>

	<link href='https://fonts.googleapis.com/css?family=PT Serif Caption'
	rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Oleo Script Swash Caps'
	rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=PT Sans Narrow'
	rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Open Sans'
	rel='stylesheet'>
	<link rel="icon" href="https://i.ibb.co/sqx588n/mclogo.png">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	<style>
		html {
			overflow: hidden;
		}

		body {
			background-color: white;
			margin: -9999rem -9999rem -9999rem;
			padding: 9999rem 9999rem 9999rem;
			overflow-x: hidden;
		}
	</style>
</head>
<body>
	<ul class="top_menu">
		<li style="float:left; padding: 0.5% 2% 0.5% 0"> 
			<a href="/home"> <img src="https://i.ibb.co/sqx588n/mclogo.png"> </a> 
		</li>
		<% if (actual_user.user == "club") { %>
			<li style="float:left; padding: 1% 2%"> <a href="/post/upload"> Post </a> </li>
		<% } %>
		<% if (actual_user.user == "admin") { %>
			<li style="float:left; padding: 1% 2%"> <a href="/viewDatabase"> Database </a></li>
		<% } %>
		<li style="float:right; padding: 1% 2%"> <a href="/logout"> Log Out </a> </li>
		<li style="float:right; padding: 1% 2%"> <a href="/chat-choose"> Chat </a> </li>
		<% if (actual_user.user != "club") { %>
			<li style="float:right; padding: 1% 2%"> <a href="/clubs"> Clubs </a> </li>
			<li style="float:right; padding: 1% 2%"> <a href="/profile"> Profile </a> </li>
		<% if (actual_user.request_list.length > 0) { %>
			<li style="float:right; padding: 1% 2%"> 
				<a href="/friend/requests" style="color: #529be4"> Pending Requests </a> </li>
		<% } else { %>
			<li style="float:right; padding: 1% 2%"> <a href="/friend/requests"> Pending Requests </a> </li>
		<% } %>
			<li style="float:right; padding: 1% 2%"> <a href="/findPeople"> Meet People! </a> </li>
		<% } else { %>
			<li style="float:right; padding: 1% 2%"> <a href="/clubs/<%=actual_user.name%>"> Profile </a> </li>
		<% } %>
	</ul>

	<div>
			<% if(target.ppic){ %>
				<a href="/image/<%= target.ppic %>" target="_blank">
				<img src="/image/<%= target.ppic %>"class="ppage_profile_pic">
				</a>
			<% } else { %>
				<a href="https://i.ibb.co/y676MDy/no-ppic.png" target="_blank">
				<img src="https://i.ibb.co/y676MDy/no-ppic.png" class="ppage_profile_pic">
				</a>
			<% } %>
		</a>
	</div>

	<span></span>
	<% if (actual_user.email == target.email) { %>
	<div class="ppage_bttn">
		<form action="/profile/upload/redirect">
			<button class="changePic" type="submit">Change Profile Pic</button>
		</form>
	</div>
	<% } %>

	<div class="ppage_profile_info">
		<div class="ppage_profile_name">
			<h1> <%=target.name%> </h1>
		</div>
		<div class="ppage_profile_body">
			<h2> Gender: <%=target.gender%> </h2>
			<h2> Age: <%=target.age%> </h2>
			<h2> Major: <%=target.major%> </h2>
			<h2> Ethnicity: <%=target.ethnicity%> </h2>
			<h2> Hometown: <%=target.location%> </h2>
			<h2> Dorm: <%=target.dorm%> </h2>
		</div>
	</div>

	<div class="ppage_info_list" style="top: 57%">
		<ul class="ppage_il_display">
			<h2 style="font-family: Open Sans; font-size: 120%; color: black; display: inline;">
				Hobbies: </h2> 
			<% target.hobby_list.forEach((item)=>{%>
			<li><%=item%></li>
			<%});%>
		</ul>
	</div>

	<div class="ppage_info_list" style="top: 63%">
		<ul class="ppage_il_display">
			<h2 style="font-family: Open Sans; font-size: 120%; color: black; display: inline;">
				Languages: </h2> 
			<% target.language.forEach((item)=>{%>
			<li><%=item%></li>
			<%});%>
		</ul>
	</div>

	<div class=profile_friends_list>
		<h2 class="profile_fl_title_font"> Friends List (<%=friends.length%>) </h2>
		<ul class="profile_fl_contents">
			<% friends.forEach((item)=>{%> 
			<li> <a href="/profile/<%=item.email%>">
				<% if (item.ppic) { %>
				    <img src="/image/<%=item.ppic%>" class="ppage_minimized_profile_pic">
				<% } else { %>
					<img src="https://i.ibb.co/y676MDy/no-ppic.png" class="ppage_minimized_profile_pic">
				<% } %>
				<span style="text-align: center;"> <%=item.name%> </span>
				</a>
			</li>
			<%});%>
		</ul>
	</div>

</body>
</html>