<!DOCTYPE html>
<html>
<head>
	<title>Sugesstion for <%=u_name%></title>
<link href='https://fonts.googleapis.com/css?family=PT Serif Caption'
rel='stylesheet'>
<style>

html {
	overflow-x: hidden;
}

ul.top_menu {
	list-style-type: none;
	margin: -9999rem -9999rem 0;
	padding: 9999rem 9999rem 0;
	overflow: hidden;
	background-color: #154734;
}

ul.top_menu li {
	float: left;
}

ul.top_menu li a {
	display: block;
	color: white;
	font-family: "PT Serif Caption";
	font-size: 18px;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
}

ul.top_menu li a:hover {
	background-color: #081c15;
}

ul.friends_list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: blue;
}

ul.friends_list li {
	float: right;
}

ul.friends_list li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

ul.friends_list li a:hover {
	background-color: #bd8b13;
	color: white;
}

body {
	background-color: white;
	margin: -9999rem -9999rem -9999rem;
	padding: 9999rem 9999rem 9999rem;
	overflow-x: hidden;
}

.profile_pic {
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
	top: 50px;
}

div.profile_name {
	position: relative;
	bottom: 250px;
	left: 400px;
	font-family: "PT Serif Caption";
	font-size: 18px;
}

div.profile_info {
	background-color: white;
}


</style>
</head>
<body>
<ul class="top_menu">
	<li> <a href="home"> MustangConnect </a> </li>
	<li style="float:right"><a href="index"> Log Out </a> </li>
	<li style="float:right"><a href="chat"> Chat </a> </li>
	<li style="float:right"><a href="clubs"> Clubs </a> </li>
  <li style="float:right"><a href="profile"> Profile </a> </li>
  <li style="float:right"><a href="findPeople"> Meet People! </a> </li>
</ul>

<% q.forEach((target)=>{ %>
  <div class="profile_info">
    <h3>------------------------------------ </h3>
  </div>

  <div class="profile_info">
    <h2><%=target.name%> </h2>
  </div>
  
  <div class="profile_info">
    <h3>Age: <%=target.age%> </h3>
  </div>
  <div class="gender">
    <h3>Gender: <%=target.gender%> </h3>
  </div>
  
  <div class="profile_info">
    <h3>Dorm: <%=target.dorm%> </h3>
  </div>
  <div class="profile_info">
    <h3>Hobbies</h3>
  </div>
  
  <ul title="Hobbies"> 
    <% (target.hobby_list).forEach((item)=>{%> 
    <li><%=item%></li>  
    <%});%> 
  </ul> 
  
  <div class="profile_info">
    <h3>Location: <%=target.location%> </h3>
  </div>

  <div class="profile_info">
    <h3>Major: <%=target.major%> </h3>
  </div>
  
  
  <div class="profile_info">
    <h3>Friends</h3>
  </div>
  
  <ul> 
    <% target.friend_list.forEach((item)=>{%> 
    <li><%=item%></li>  
    <%});%> 
  </ul> 

  <div class="profile_info">
    <h3>------------------------------------ </h3>
  </div>
  
  </body>
  </html>

  <%});%> 
