<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous">

		<link href='https://fonts.googleapis.com/css?family=PT Serif Caption'
		rel='stylesheet'>

<style>
	.profile_pic {
	display: inline-block;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	position: relative;
}

ul.top_menu {
	list-style-type: none;
	margin: -9999rem -9999rem 0;
	padding: 9999rem 9999rem 0;
	overflow: hidden;
	background-color: #154734;
}

ul.top_menu li {
	float: left;
}

ul.top_menu li a {
	display: block;
	color: white;
	font-family: "PT Serif Caption";
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

ul.top_menu li a:hover {
	color: #bd8b13;
}

</style>
</head>
<body>
	<ul class="top_menu">
		<li style="float:left; padding: 7px 30px"> 
			<a href="home"> <img src="https://i.ibb.co/sqx588n/mclogo.png"> </a> 
		</li>
		<li style="float:left; padding: 14px 30px"> <a href="post/upload"> Post </a> </li>
		<li style="float:right; padding: 14px 30px"> <a href="index"> Log Out </a> </li>
		<li style="float:right; padding: 14px 30px"> <a href="chat"> Chat </a> </li>
		<li style="float:right; padding: 14px 30px"> <a href="clubs"> Clubs </a> </li>
		<li style="float:right; padding: 14px 30px"> <a href="profile"> Profile </a> </li>
		<li style="float:right; padding: 14px 30px"> <a href="findPeople"> Meet People! </a> </li>
	</ul>

<hr>
<% q.forEach((target, i) =>{ %>
	<div class="container">
		<div class="card card-body mb-3">
			<div >
				<a href="http://placehold.it/400x200" target="_blank">
					<% if(target.ppic){ %>
						<img src="image/<%= ppic %>" class="profile_pic">
					<% } else { %>
						<img src="http://placehold.it/400x200" class="profile_pic" >
						<% } %>
				</a>
			</div>
            
			<h2 id="names"><%=target.name%> </h2>
			<h3>Age: <%=target.age%> </h3>
			<h3>Gender: <%=target.gender%> </h3>
			<h3>Dorm: <%=target.dorm%> </h3>
			<h3>Hobbies</h3>
			<ul title="Hobbies"> 
				<% (target.hobby_list).forEach((item)=>{%> 
				<li><%=item%></li>  
				<%});%> 
			</ul> 
			<h3>Location: <%=target.location%> </h3>
			<h3>Major: <%=target.major%> </h3>
			<h3>Friends</h3>
			<ul> 
				<% target.friend_list.forEach((item)=>{%> 
				<li><%=item%></li>  
				<%});%> 
			</ul> 
					
			<form action="/addFriend" method="POST">
				<input type="hidden" placeholder="name" name="name" value= <%=i%> >
				<button type="Add">Add Friend</button>
			</form>
			


		</div>
	</div>

<%});%> 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
  </body>
  </html>


